.grass {
  background-color: green;
}

.fire {
  background-color: orange;
}

.water {
  background-color: blue;
}

.default {
  background-color: grey;
}

.purple {
  background-color: #ac59ac;
}

.plum {
  background-color: plum;
}

.light-green {
  background-color: lightgreen;
}

.light-grey {
  background-color: lightgrey;
}

.yellow {
  background-color: yellow;
}

.brown {
  background-color: brown;
}

.light-pink {
  background-color: lightpink;
}

.margin-between {
  margin-right: 0.2em;
}

.pokemon-type {
  font-size: 1rem;
  border-radius: 4px;
}

.pokemon-type + .pokemon-type {
  margin-left: 0.4em;
}
